:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: #2e2f42;
  --body-background-color: #ffffff;
  --button-secondary-text-focus-color: #ffffff;
  --hero-title-color: #ffffff;
  --button-primary-text-color: #ffffff;
  --team-background-color: #f4f4fd;
  --portfolio-examples-margin-row: 48px;
  --portfolio-examples-margin-column: 24px;
  --values-text-margin-column: 24px;
  --doing-images-margin-column: 24px;
  --team-image-margin-column: 24px;
  --backgroung-team-list-item-color: #ffffff;

  --transition-250-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-background-color: #fcfcfc;
  --modal-border-input-color: rgba(33, 33, 33, 0.2);
  --modal-form-decription-color: #8e8f99;
  --color-privacy: #757575;
  --form-border-color: rgba(255, 255, 255, 0.3);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--body-background-color);
}

body.modal-open {
  overflow: hidden;
}

/* utilities */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  */

/* header */

/*  0px - 767px */

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }

  .main-adress {
    display: none;
  }

  .mobile-menu-open-icon {
    fill: var(--dark-color);
  }

  .mobile-menu-open {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu-open.is-open .mobile-menu-open-icon {
    display: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    overflow-y: scroll;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    /* max-height: 796px; */
    background-color: var(--body-background-color);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-250-cubic),
      visibility var(--transition-250-cubic);
    overflow-y: scroll;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1001;
    /* display: block; */
    width: 24px;
    height: 24px;
    background: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: border-color var(--transition-250-cubic),
      background-color var(--transition-250-cubic);
  }

  .mobile-menu__close-btn:hover,
  .mobile-menu__close-btn:focus {
    background-color: var(--pressed-state-color);
    fill: var(--button-secondary-text-focus-color);
  }

  .mobile-menu__close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
  }

  .mobile-menu-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 80px 49px 40px 40px;
    max-width: 428px;
    overflow-y: scroll;
  }

  .mobile-menu-nav {
    margin-bottom: 284px;
  }

  .mobile-menu-nav-list .current {
    color: var(--pressed-state-color);
  }

  .mobile-menu-nav-list .item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-nav-list .item .link {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-decoration: none;
    letter-spacing: 0.02em;

    color: var(--dark-color) #2e2f42;
    transition: color var(--transition-250-cubic);
  }

  .mobile-menu-nav-list .item .link:is(:hover, :focus) {
    color: var(--pressed-state-color);
  }

  .mobile-menu-nav-list .link.current {
    color: var(--pressed-state-color);
  }

  .mobile-menu-address {
    margin-bottom: 48px;
  }

  .mobile-menu-address-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-address-item .tel {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-decoration: none;

    color: var(--primary-brand-color);
    transition: color var(--transition-250-cubic);
  }

  .mobile-menu-address-item .mail {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;

    letter-spacing: 0.02em;

    color: var(--text-color);
    transition: color var(--transition-250-cubic);
  }

  .mobile-menu-address-item .tel:is(:hover, :focus),
  .mobile-menu-address-item .mail:is(:hover, :focus) {
    color: var(--pressed-state-color);
  }

  .mobile-menu-social {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    gap: 56px;
    padding-right: 11px;
  }

  .mobile-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    transition: background-color var(--transition-250-cubic);
  }

  .mobile-menu-social-link:is(:hover, :focus) {
    background-color: var(--pressed-state-color);
  }

  .mobile-menu-social-link .icon {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.header-border {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-color);
}

.logo-web {
  color: var(--primary-brand-color);
}

/* 768px - 1199px */

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .container.header {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-start;
  }
  .nav-link {
    display: flex;
  }

  /* site nav */
  .site-nav {
    display: flex;
    margin-left: 123px;
  }

  .site-nav .item:not(:last-child) {
    margin-right: 40px;
  }

  .site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 22px;

    color: var(--dark-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color var(--transition-250-cubic);

    position: relative;
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--pressed-state-color);
  }

  .site-nav .link.current {
    color: var(--pressed-state-color);
  }

  .site-nav .link.current::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';

    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);

    border-radius: 2px;
  }

  /* contact adress */
  .main-adress {
    margin-left: auto;
  }

  .contact-adress {
    padding-top: 24px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    font-style: normal;
  }
  .contact-adress .item:first-child {
    margin-bottom: 4px;
  }

  .contact-adress .link,
  .contact-adress .tel {
    display: block;
    color: var(--dark-color);
    text-decoration: none;

    font-style: normal;
    font-size: 12px;
    line-height: 1.33;

    letter-spacing: 0.04em;
    transition: color var(--transition-250-cubic);
  }

  .contact-adress .link:hover,
  .contact-adress .tel:hover,
  .contact-adress .link:focus,
  .contact-adress .tel:focus {
    color: var(--pressed-state-color);
  }
}

/* 1200px -  */

@media screen and (min-width: 1200px) {
  .logo {
    padding-bottom: 28px;
  }

  .site-nav {
    margin-left: 76px;
  }

  .site-nav .link {
    padding-bottom: 28px;
  }

  .contact-adress {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
  }

  .contact-adress .item:first-child {
    margin-bottom: 0;
  }

  .contact-adress .item + .item {
    margin-left: 40px;
  }

  .contact-adress .link,
  .contact-adress .tel {
    padding-top: 24px;
    padding-bottom: 28px;
    font-size: 16px;
    line-height: 1.5;
  }
}

/*  */

/* Hero */

@media screen and (max-width: 767px) {
  .hero-title {
    margin-bottom: 72px;
    max-width: 320px;

    font-size: 36px;
    line-height: 1.11;
  }

  .hero.overlay {
    max-width: 428px;
    height: 432px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/backgroung-hero--2.jpg');
  }
}

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 0.02em;

  color: var(--hero-title-color);
}

.hero.overlay {
  margin-left: auto;
  margin-right: auto;

  background-color: var(--hero-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  border: 1px solid transparent;
}

.button.primary {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 16px 32px;
  color: var(--button-primary-text-color);
  background-color: var(--primary-brand-color);

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--transition-250-cubic);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--pressed-state-color);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 108px;
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
  }

  .hero.overlay {
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/backgroung-hero--2.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 288px;
    padding-bottom: 204px;
  }

  /* .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
  } */

  .hero.overlay {
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/backgroung-hero--2.jpg');
  }
}

/*----------------- End Hero button -------------*/

/*------------------- sections -------------------*/

/*----------- section Our ideals and values  ----------*/

@media screen and (max-width: 767px) {
  .section .value-subtitle {
    text-align: center;
  }
}

.section.value {
  padding-top: 96px;
  padding-bottom: 96px;
}

.values-list .item-icon {
  display: none;
}

.section .value-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;

  color: var(--dark-color);
  letter-spacing: 0.02em;
}

.section .value-text {
  margin: 0;
  font-weight: 500;

  letter-spacing: 0.02em;
  line-height: 1.5;
}

.values-list .item:not(:last-child) {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .section .value-subtitle {
    text-align: left;
  }

  .values-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--values-text-margin-column);
    row-gap: 72px;
  }

  .values-list .item {
    width: 356px;
  }

  .values-list .item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section.value {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .values-list .item-icon {
    display: contents;
  }

  .section .value-subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .values-list {
    flex-wrap: nowrap;
  }

  .values-list .item {
    flex-basis: calc((100% - 3 * var(--values-text-margin-column) / 4));
  }

  .values-list .item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 112px;

    border-radius: 4px;
    background-color: var(--light-color);
  }

  .values-list .item-icon .icon {
    width: 64px;
    height: 64px;
  }
}

/*----------- section  What are we doing ----------*/

@media screen and (max-width: 767px) {
  .section.doing {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section.doing {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section.doing {
    display: block;
    padding-top: 60px;
  }

  .section .doing-title {
    margin-top: 0;
    margin-bottom: 72px;
    color: var(--dark-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .doing-list {
    display: flex;
    column-gap: var(--doing-images-margin-column);
  }

  .doing-list .item {
    flex-basis: calc((100% - 2 * var(var(--doing-images-margin-column)) / 3));

    border: 1px solid var(--accent-color);
  }
}

/*----------- section  our team ----------*/

.section.team {
  background-color: var(--team-background-color);
}

.section .team-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--dark-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-content {
  padding: 32px 0 32px 0;
}

.team-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.team-image > .item {
  width: 264px;
  background-color: var(--backgroung-team-list-item-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.section .team-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
}

.section .team-text {
  margin: 0 0 8px 0;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
}

.team .team-social-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.team .social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-brand-color);
  border-radius: 50%;

  transition: background-color var(--transition-250-cubic);
}

.team .social-link .icon {
  width: 16px;
  height: 16px;
}

.team .social-link:hover,
.footer .social-link:focus {
  background-color: var(--pressed-state-color);
}

/* @media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
} */

/*--------------- Customer ----------------*/

.customer {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customer-title {
  margin: 0 0 72px 0;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark-color);
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88px;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;

  transition: border-color var(--transition-250-cubic);
}

.customer-link .icon {
  width: 104px;
  height: 56px;
  fill: var(--subtle-text-color);

  transition: fill var(--transition-250-cubic);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--pressed-state-color);
}

.customer-link:hover .icon,
.customer-link:focus .icon {
  fill: var(--pressed-state-color);
}

@media screen and (max-width: 767px) {
  .customer-link {
    width: 190px;
  }

  .customer-link .icon {
    width: 110px;
  }
}

@media screen and (min-width: 768px) {
  .customer-list {
    column-gap: 24px;
  }

  .customer-link {
    width: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .customer {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/*-------------- End Customer*/

/* footer */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark-color);
}

/* .footer-container {
  display: flex;
} */

.footer-text-wrapper {
  margin-bottom: 72px;
}

.footer .logo {
  display: block;
  margin-bottom: 16px;
  padding: 0;
}

.footer .logo-studio {
  color: var(--light-color);
}

.footer-text {
  margin: 0;
  max-width: 264px;
  color: var(--accent-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.footer .social-text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--hero-title-color);
}

.footer .social-list {
  display: flex;
  column-gap: 16px;
}

.footer .social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--transition-250-cubic);
}

.footer .social-link .icon {
  width: 24px;
  height: 24px;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--success-color);
}

.subscribe-form-title {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--button-primary-text-color);
}

.subscribe-form-in-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.subscribe-form-input {
  padding: 0 0 0 16px;
  height: 40px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid var(--form-border-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color var(--transition-250-cubic);
}

.subscribe-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-input:hover {
  border-color: var(--primary-brand-color);
}

.subscribe-form-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.subscribe-form-submit {
  display: flex;
  column-gap: 16px;
  padding: 8px 0 8px 24px;
  min-width: 165px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--button-primary-text-color);

  background-color: var(--primary-brand-color);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color var(--transition-250-cubic);
}

.subscribe-form-submit:hover,
.subscribe-form-submit:focus {
  background-color: var(--pressed-state-color);
}

.subscribe-form-submit .icon {
  width: 24px;
  height: 24px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer .logo {
    text-align: center;
  }

  .footer-text {
    margin: 0 auto;
  }

  .footer-social {
    margin-bottom: 72px;
  }

  .footer .social-text {
    text-align: center;
  }

  .footer .social-list {
    justify-content: center;
  }
  .subscribe-form-title {
    text-align: center;
  }

  .subscribe-form-in-wrapper {
    justify-content: center;
    column-gap: 500px;
  }

  .subscribe-form-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 396px;
  }

  .subscribe-form-input {
    margin-bottom: 16px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .footer-text-wrapper {
    margin-bottom: 0;
  }

  .subscribe-form-in-wrapper {
    flex-wrap: nowrap;
    column-gap: 24px;
  }

  .subscribe-form-input {
    width: 264px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 0 0;
    padding-left: 15px;
  }

  .footer-social {
    margin-left: 120px;
  }

  .subscribe-form {
    margin-left: 80px;
  }
}

/* END footer */

/* --------- MODAL WINDOW -------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opasity var(--transition-250-cubic),
    visability var(--transition-250-cubic);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 96px;
  left: 50%;
  transform: translate(-50%);

  background-color: var(--modal-background-color);
  border-radius: 4px;

  transition: transform var(--transition-250-cubic);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -75%);
}

.modal-close-btn-icon {
  display: block;
  width: 8px;
  height: 8px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  background: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color var(--transition-250-cubic),
    background-color var(--transition-250-cubic);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: transparent;
  background-color: var(--pressed-state-color);
  fill: var(--button-secondary-text-focus-color);
}

/* ---------  MODAL FORM -------------*/

/* .modal-form {
  
  width: 392px;
} */

.modal-form-name {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--dark-color);
}

.modal-form .modal-form-field:not(:last-child) {
  display: block;
  margin-bottom: 8px;
}

/* не спрацьовує маржин 16 рх */

.modal-form .modal-form-field:last-child {
  margin-bottom: 16px;
}

/* не спрацьовує маржин 16 рх */

.modal-form-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--modal-background-color);

  border: 1px solid var(--modal-border-input-color);
  border-radius: 4px;
  transition: border-color var(--transition-250-cubic),
    outline var(--transition-250-cubic);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;

  color: var(--modal-form-decription-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  fill: var(--dark-color);

  transition: fill var(--transition-250-cubic);
}

.modal-form-input:focus + .modal-form-input-icon {
  outline: none;
  fill: var(--primary-brand-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--dark-color);
  background-color: var(--modal-background-color);

  border: 1px solid var(--modal-border-input-color);
  border-radius: 4px;
  transition: border-color var(--transition-250-cubic);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.user-policy-wrapper {
  position: relative;
  margin-bottom: 24px;
}

.user-policy-wrapper .modal-form-field {
  margin-bottom: 0;
}

.modal-form-checkbox-desc {
  display: flex;

  align-items: center;
  column-gap: 8px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--color-privacy);
}

/* .modal-form-checkbox-desc::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;

  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  content: '';
  cursor: pointer;
  transition: border-color var(--transition-250-cubic),
    background-color var(--transition-250-cubic),
    background-image var(--transition-250-cubic);
} */

.modal-form-checkbox:checked + .modal-form-checkbox-desc:before {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-desc:before {
  outline: 2px solid var(--primary-brand-color);
}

.user-policy-check-on {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 8px;
}

.modal-form-checkbox-desc .link {
  color: var(--primary-brand-color);
  transition: color var(--transition-250-cubic);
}

.modal-form-checkbox-desc .link:hover,
.modal-form-checkbox-desc .link:focus {
  color: var(--pressed-state-color);
}

.modal-form-checkbox-icon {
  position: relative;
  margin: 0;
  display: block;
  flex-shrink: 0;

  width: 16px;
  height: 16px;
  background-color: var(--modal-background-color);
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  cursor: pointer;

  transition: border-color var(--transition-250-cubic),
    background-color var(--transition-250-cubic);
}

.modal-form-checkbox:checked
  + .modal-form-checkbox-desc
  .modal-form-checkbox-icon {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.modal-form-checkbox-on {
  width: 10px;
  height: 8px;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: opacity var(--transition-250-cubic);
}

.modal-form-checkbox:checked
  + .modal-form-checkbox-desc
  .modal-form-checkbox-on {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 8px;
  opacity: 1;
  visibility: visible;
  display: inline;
}

.modal-form-checkbox:focus
  + .modal-form-checkbox-desc
  .modal-form-checkbox-icon {
  outline: 2px solid var(--primary-brand-color);
}

.modal-form-checkbox-text {
  display: block;
  margin: 0;
}

.modal-form-submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  width: 169px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--button-primary-text-color);

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  transition: background-color var(--transition-250-cubic);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--pressed-state-color);
}

@media screen and (max-width: 767px) {
  .modal {
    width: 392px;
    padding: 72px 16px 16px;
  }
}

@media screen and (max-width: 392px) {
  .modal {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    top: 80px;
  }
}

/* --------- End MODAL FORM -------------*/

/* --------- End MODAL WINDOW -------------*/

/*  */
/*------------------------- END PAGE INDEX -------------------------*/
/*  */
/*  */
/*  */
/* -------------------------- PORTFOLIO PAGE ---------------*/

.portfolio-title {
  margin: 0;
  padding: 0;
}

/* buttons */

.section.portfolio {
  padding-top: 96px;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  column-gap: 24px;
}

.button.secondary {
  border-radius: 4px;

  padding: 12px 24px 12px 24px;
  display: block;
  color: var(--primary-brand-color);
  background-color: var(--light-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border-color: var(--accent-color);
  cursor: pointer;

  transition: border-color var(--transition-250-cubic),
    background-color var(--transition-250-cubic),
    color var(--transition-250-cubic), box-shadow var(--transition-250-cubic);
}

.button.secondary:hover,
.button.secondary:focus {
  border: 1px solid transparent;
  background-color: var(--pressed-state-color);
  color: var(--button-secondary-text-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio list */

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  row-gap: var(--portfolio-examples-margin-row);
  column-gap: var(--portfolio-examples-margin-column);
}

.portfolio-examples > .item {
  flex-basis: calc((100% - 2 * var(--portfolio-examples-margin-column)) / 3);
}

.list .portfolio-link {
  display: block;
  text-decoration: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition-250-cubic);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translate(0, 0);
}

.portfolio-link:hover .card,
.portfolio-link:focus .card {
  transform: translate(0, 0);
}

.portfolio-list-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-examples .card {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  margin: 0;
  overflow: auto;

  color: var(--light-color);
  background-color: var(--primary-brand-color);

  line-height: 1.5;
  letter-spacing: 0.02em;

  transform: translate(0, 100%);
  transition: transform var(--transition-250-cubic);
}

.examples-content {
  padding: 32px 0 32px 16px;
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.list .portfolio-subtitle {
  margin: 0 0 8px 0;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-text {
  margin: 0;
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
